.bigContainer{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: auto;
    background: #fff;
    border-radius: 44px;
    padding-bottom: 30px;
    width: 1200px;
    height: 600px;
}

.containerHead {
    display: flex;
    flex-direction: row;
    width: 990px;
    margin-top: 26px;
    border-bottom: 2px solid #D5D5D5;
}

.manageRentalsTitle {
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.exitX {
    display: flex;
    margin-left: 800px;
    height: 35px;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 210px;
    border-right: 2px solid #D5D5D5;
}

.leftPanel button{
    height: 80px;
    width: 210px;
    border: none;
    text-align: left;
    text-indent: 12px;
    border-right: 2px solid #D5D5D5;
}

.leftPanel button:focus{
    outline: none;
}

.Docs {
    background-color: #84D7AE;
}

.actions {
    background-color: transparent;
}

.userInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #D5D5D5;
}

.userInfo img {
    margin-left: 20px;
}

.userName {
    margin-left: 20px;
}

.rightPanel {
    width: 990px;
    display: flex;
    flex-direction: column;
}

.docs {
    display: flex;
    flex-direction: row;
}

.doc {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.thumbnail {
    height: 300px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

.docName {
    text-align: left;
}

.docDate {
    text-align: left;
    font-size: 14px;
    color: #D5D5D5;
}

.docDetailsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.downloadButton {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.downloadButton:focus{
    outline: none;
}

.downloadIcon {
    height: 20px;
}
