.modal-dialog {
    max-width: 1200px;
    max-height: 600px;
    margin: 1.75rem auto;
}

.fade {
    transition: none;
}

.modal.fade .modal-dialog {
    transition: none;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 600px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px;
    outline: 0;
}

.modal-body {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: auto;
    background: #fff;
    padding-bottom: 30px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    padding: 0px;
}
.leftPanel {
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 210px;
    border-right: 1px solid #D5D5D5;
}

.leftPanel button{
    height: 80px;
    width: 210px;
    border: none;
    text-align: left;
    text-indent: 12px;
    border-right: 1px solid #D5D5D5;
}

.leftPanel button:focus{
    outline: none;
}

.rentDocs {
    height: 80px;
    width: 210px;
    background-color: #84D7AE;
}

.actions {
    height: 80px;
    width: 210px;
    background-color: transparent;
}

.userInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D5D5D5;
}

.userInfo img {
    margin-left: 20px;
}

.userName {
    margin-left: 20px;
}

.rightPanel {
    width: 990px;
    display: flex;
    flex-direction: column;
}

.docs {
    display: flex;
    flex-direction: row;
}

.doc {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.thumbnail {
    height: 200px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

.docName {
    text-align: left;
}

.docDate {
    text-align: left;
    font-size: 14px;
    color: #D5D5D5;
}

.docDetailsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.downloadButton {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.downloadButton:focus{
    outline: none;
}

.downloadIcon {
    height: 20px;
}
