.bigContainer{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: auto;
    background: #fff;
    border-radius: 44px;
    padding-bottom: 30px;
    width: 1200px;
    height: 600px;
}

.containerHead {
    display: flex;
    flex-direction: row;
    width: 990px;
    margin-top: 26px;
    border-bottom: 2px solid #D5D5D5;
}

.manageRentalsTitle {
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.exitX {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    height: 35px;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 210px;
    border-right: 2px solid #D5D5D5;
}

.leftPanel button{
    height: 80px;
    width: 210px;
    border: none;
    text-align: left;
    text-indent: 12px;
    border-right: 2px solid #D5D5D5;
}

.leftPanel button:focus{
    outline: none;
}

.inspectionButton {
    background-color: #84D7AE;
}

.actions {
    background-color: white;
}

.actions:hover {
    background-color: #F2F4F5;
}

.userInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #D5D5D5;
}

.userInfo img {
    margin-left: 20px;
}

.userName {
    margin-left: 20px;
}

.rightPanel {
    width: 990px;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 40px;
}

.inspectionCard {
    display: flex;
    flex-direction: column;
}

.inspectionThumbail {
    border: 2px solid #D5D5D5;
    width: 200px;
    height: 240px;
}

.thumnailImage {
    margin-top: 10px;
    width: 180px;
}

.progBar {
    background-color: #767887;
    width: 200px;
    height: 30px;
    margin-top: 35px;
    margin-left: -2px;
}

.inspectionTitle {
    margin-right: auto;
    margin-top: 5px;
}

.inspectionDate {
    margin-right: auto;
    font-size: 15px;
    color: #D5D5D5;
}