.card {
  width:100% !important;
  height: 80%;
}
.card {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.card:hover{
  background-color: rgb(22, 191, 135,0.5);
  box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.2)
}

img {
  max-width: 100%; 
  max-height: 70%; 
}

h3 {
  margin-top: 5px;
  font-size: 18px;
}

p {
  font-size: 14px;
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.carousel-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns per row */
  grid-template-rows: 180px 180px 180px;
  grid-gap: 10px; /* Adjust the gap as needed */
  grid-row-gap: 10px;
 
}
.pagination{
  color:rgb(22, 191, 135);
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.carousel-controls .btn{
  padding:5px 20px;
  margin:0px 10px;
}

.page-number{
  border: none;
  background-color: white;
}
.pagination button:hover{
  color:rgb(22, 191, 135)
}
.card{
  color:black !important;
}
