.modal-dialog {
    max-width: 1200px;
    max-height: 600px;
    margin: 1.75rem auto;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 600px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px;
    outline: 0;
}

.modal-body {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: auto;
    background: #fff;
    padding-bottom: 30px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    padding: 0px;
}
.leftPanel {
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 210px;
    border-right: 1px solid #D5D5D5;
}

.leftPanel button{
    height: 80px;
    width: 210px;
    border: none;
    text-align: left;
    text-indent: 12px;
    border-right: 1px solid #D5D5D5;
}

.leftPanel button:focus{
    outline: none;
}

.Overview {
    height: 80px;
    width: 210px;
    background-color: #84D7AE;
}

.actions {
    height: 80px;
    width: 210px;
    background-color: transparent;
}

.userInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 50px !important;
    border-bottom: 1px solid #D5D5D5;
}

.userInfo img {
    margin-left: 20px;
}

.userName {
    margin-left: 20px;
    margin-top: 5px;
}

.rightPanel {
    width: 990px;
    display: flex;
    flex-direction: column;
}

.renterOverview {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-top: 20px;
    width: 790px;
}

.totalBalance {
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: #24B86F;
    width: 350px;
    border-radius: 20px 20px 0 0;
    color: white;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}
 .BalanceAmt {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
 }

 .BalanceLabel {
    margin-top: -5px;
 }

 .charges {
    height: 320px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
 }

.charge {
    display: flex;
    flex-direction: row;
}

.nameDate {
    width: 250px;
    text-align: left;
    margin-left: 20px;
    margin-top: 7px;
}

.name {
    font-weight: 500;
}

.date {
    font-size: 15px;
    color: #D5D5D5;
}

.Amount {
    margin-top: 7px;
    color: red;
}

.payBalance {
    background-color: #24B86F;
    border: none;
    height: 50px;
    width: 320px;
    border-radius: 100px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.propDetContainer {
    height: 400px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.3);
    margin-left: -40px;
    padding-top: 30px;
}

.propDetLabel {
   margin-left: 25px;
   font-size: 18px;
   font-weight: 600;
   position: relative;
   z-index: 1;
}

.carousel-inner {
    border-radius: 20px;
    height: 200px;
    position: relative;
    z-index: 0;
}

.slide {
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-top: 20px;
}

.propInfo {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 470px;
    margin-top: 10px;
}

.propAddr {
    width: 200px;
}

.propertyName {
    font-weight: 600;
}

.addr {
    font-size: 13px;
    width: 200px;
}

.propUnit {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.unit {
    font-size: 14px;
    font-weight: 600;
}

.unitNum {
    font-size: 14px;
    margin-left: 10px;
}

.propertyOwner {
    display: flex;
    flex-direction: row;
}

.propOwnerCard {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.ownerPic {
    height: 45px;
}

.ownContact {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-left: -5px;
}

.Icon {
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
}

.ownEmail {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.ownPhone {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

